<a href="https://colab.research.google.com/github/shan301/360digiDataSciencePython/blob/main/python_variables_operators_and_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Introduction to Python
Created by: Guido van Rossum in 1989, officially released in 1991.
Features:
Functional programming (from C)
Object-oriented programming (from C++)
Scripting capabilities (like Perl and Shell scripting)
Modular programming (like Modular-3)

In [ ]:
"""Python Variables
A variable is a named memory location used to store data.

Rules for Variable Names:
✅ Must start with a letter (a-z, A-Z) or an underscore _
✅ Can contain numbers (0-9) but cannot start with a number
✅ Cannot use special characters (except _)
✅ Case-sensitive (age and Age are different variables)"""

x = 10       # Integer
y = 15.6     # Float
name = 'John' # String

In [ ]:
"""Operators in Python
Operators perform operations on variables and values.

 Types of Operators:
Arithmetic Operators (+, -, *, /, //, %, **)
Comparison Operators (==, !=, >, <, >=, <=)
Assignment Operators (=, +=, -=, *=, /=, //=, **=, %=)
Logical Operators (and, or, not)
Membership Operators (in, not in)
Identity Operators (is, is not)
Bitwise Operators (&, |, ^, ~, <<, >>)
Example:"""


a = 10
b = 20
print(a + b)  # Output: 30
print(a > b)  # Output: False

30
False

In [ ]:
"""Python Data Types
Every value in Python belongs to a data type.

Data Type	Example	Description
Integer (int)	x = 10	Whole numbers
Float (float)	y = 10.5	Decimal numbers
Complex (complex)	z = 3 + 5j	Complex numbers
Boolean (bool)	flag = True	True or False
String (str)	name = "Python"	Text data
List (list)	lst = [1, 2, 3]	Ordered, mutable sequence
Tuple (tuple)	tup = (1, 2, 3)	Ordered, immutable sequence
Set (set)	s = {1, 2, 3}	Unordered, unique items
Dictionary (dict)	d = {'a': 1, 'b': 2}	Key-value pairs"""

'Python Data Types\nEvery value in Python belongs to a data type.\n\nData Type\tExample\tDescription\nInteger (int)\tx = 10\tWhole numbers\nFloat (float)\ty = 10.5\tDecimal numbers\nComplex (complex)\tz = 3 + 5j\tComplex numbers\nBoolean (bool)\tflag = True\tTrue or False\nString (str)\tname = "Python"\tText data\nList (list)\tlst = [1, 2, 3]\tOrdered, mutable sequence\nTuple (tuple)\ttup = (1, 2, 3)\tOrdered, immutable sequence\nSet (set)\ts = {1, 2, 3}\tUnordered, unique items\nDictionary (dict)\td = {\'a\': 1, \'b\': 2}\tKey-value pairs'

In [ ]:
"""Strings in Python
A string is a sequence of characters enclosed in quotes.

String Operations:"""

s = "Python"
print(len(s))        # Output: 6
print(s[0])          # Output: P
print(s[-1])         # Output: n
print(s[1:4])        # Output: yth
print(s.upper())     # Output: PYTHON
print(s.lower())     # Output: python
print(s.replace("P", "J")) # Output: Jython

6
P
n
yth
PYTHON
python
Jython

In [ ]:
"""Lists in Python
A list is an ordered collection of items."""

fruits = ["apple", "banana", "cherry"]
print(fruits[1])    # Output: banana

fruits.append("orange")  # Add item
fruits.remove("banana")  # Remove item
print(fruits)  # Output: ['apple', 'cherry', 'orange']

banana
['apple', 'cherry', 'orange']

In [ ]:
"""Tuples in Python
A tuple is like a list, but immutable (cannot be changed)."""
tup = (1, 2, 3)
print(tup[0])   # Output: 1
#tup[1] = 4   # ❌ Error! Tuples cannot be modified

1

In [ ]:
"""Sets in Python
A set is an unordered collection of unique items."""
s = {1, 2, 3, 3, 2}
print(s)  # Output: {1, 2, 3}
s.add(4)  # Adding element
s.remove(2)  # Removing element
print(s)  # Output: {1, 3, 4}

{1, 2, 3}
{1, 3, 4}

In [ ]:
"""Dictionaries in Python
A dictionary stores key-value pairs."""
student = {"name": "John", "age": 25}
print(student["name"])  # Output: John
student["age"] = 26  # Update value
print(student)  # Output: {'name': 'John', 'age': 26}

John
{'name': 'John', 'age': 26}

In [ ]:
"""Date and Time in Python
Python provides a datetime module for handling dates and times."""

from datetime import datetime

now = datetime.now()
print(now)  # Output: Current date and time

print(now.strftime("%Y-%m-%d %H:%M:%S"))  # Formatted date and time

2025-02-04 07:26:13.707649
2025-02-04 07:26:13

**practical exercises**

In [ ]:
"""Create variables of different data types and print their types."""
# Create variables of different types
x = 10          # Integer
y = 3.14        # Float
z = "Python"    # String
w = True        # Boolean

# Print variable types
print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
"""Write a program to take two numbers as input and perform basic arithmetic operations."""
# Take user input
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

# Perform operations
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Enter first number: 10
Enter second number: 15
Addition: 25
Subtraction: -5
Multiplication: 150
Division: 0.6666666666666666
Floor Division: 0
Modulus: 10
Exponentiation: 1000000000000000

In [ ]:
"""Take two numbers as input and compare them."""
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))

print("x == y:", x == y)
print("x != y:", x != y)
print("x > y:", x > y)
print("x < y:", x < y)
print("x >= y:", x >= y)
print("x <= y:", x <= y)

Enter first number: 15
Enter second number: 20
x == y: False
x != y: True
x > y: False
x < y: True
x >= y: False
x <= y: True

In [ ]:
"""Check if a number is within a given range using logical operators."""
num = int(input("Enter a number: "))

print("Is the number between 10 and 50?", num >= 10 and num <= 50)
print("Is the number outside the range 10-50?", num < 10 or num > 50)
print("Is the number NOT equal to 25?", not(num == 25))

Enter a number: 15
Is the number between 10 and 50? True
Is the number outside the range 10-50? False
Is the number NOT equal to 25? True

In [ ]:
"""Use in, not in, and is operators in Python."""
fruits = ["apple", "banana", "cherry"]

print("Is 'apple' in the list?", "apple" in fruits)
print("Is 'grape' not in the list?", "grape" not in fruits)

a = 5
b = 5
print("Is a the same object as b?", a is b)
print("Is a not the same object as b?", a is not b)

Is 'apple' in the list? True
Is 'grape' not in the list? True
Is a the same object as b? True
Is a not the same object as b? False

In [ ]:
"""Work with string indexing and slicing."""
text = "Python Programming"

print("First character:", text[0])
print("Last character:", text[-1])
print("Substring (first 6 chars):", text[:6])
print("Substring (last 5 chars):", text[-5:])
print("Reverse the string:", text[::-1])

First character: P
Last character: g
Substring (first 6 chars): Python
Substring (last 5 chars): mming
Reverse the string: gnimmargorP nohtyP

In [ ]:
"""Create a list, add elements, remove elements, and modify them."""
numbers = [10, 20, 30, 40]

numbers.append(50)    # Add element
numbers.remove(20)    # Remove element
numbers[1] = 100      # Modify element

print("Updated List:", numbers)

Updated List: [10, 100, 40, 50]

In [ ]:
"""Try to modify a tuple and see what happens."""
my_tuple = (1, 2, 3, 4, 5)
print("Tuple elements:", my_tuple)

# Uncomment the below line to see an error
# my_tuple[2] = 100  # ❌ Tuples are immutable!

Tuple elements: (1, 2, 3, 4, 5)

In [ ]:
"""Perform basic set operations."""
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)
print("Is 2 in set1?", 2 in set1)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}
Is 2 in set1? True

In [ ]:
"""Create and manipulate a dictionary."""

student = {"name": "John", "age": 25, "course": "Python"}

print("Student's Name:", student["name"])
student["age"] = 26  # Modify value
student["grade"] = "A"  # Add new key-value pair

print("Updated Dictionary:", student)

Student's Name: John
Updated Dictionary: {'name': 'John', 'age': 26, 'course': 'Python', 'grade': 'A'}

In [ ]:
"""Display the current date and time."""
from datetime import datetime

now = datetime.now()
print("Current Date & Time:", now.strftime("%Y-%m-%d %H:%M:%S"))

Current Date & Time: 2025-02-04 07:41:24